.card-container {
	width: 615px;
	/* height: 1040px; */
	height: 1067px;
	border: 1px solid #dbdbdb;
	border-radius: 3px;
	margin-bottom: 24px;
	background-color: #ffffff;
}

.user-container {
	height: 60px;
	border-bottom: 1px solid black;
}

.image-container {
	height: 768px;
	border-bottom: 1px solid black;
}

.btn-container {
	/* height: 54px; */
	height: 40px;
	margin-top: 4px;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 6px;
	padding-bottom: 8px;
}

.interaction-btn {
	display: inline-block;
	height: 40px !important;
	width: 40px !important;
	padding: 8px;
	/* border: 1px solid black; */
}

#red {
	background-color: #ed4956;
}

#blue {
	background-color: #0095f6;
}
.like-display-container {
	display: flex;
	align-items: center;
	height: 24px;
	border-bottom: 1px solid black;
	margin-bottom: 8px;
	padding-left: 16px;
	padding-right: 16px;
	font-size: 14px;
	font-weight: 600;
	color: #262626;
}

.caption-container {
	height: 60px;
	border-bottom: 1px solid black;
}

.date-comment-container {
	height: 20px;
	/* border-bottom: 1px solid #efefef; */
	margin-bottom: 16px;
	padding-left: 16px;
	font-size: 10px;
	color: #8e8e8e;
	line-height: 18px;
}

.add-comment-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 54px;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 16px;
	padding-right: 16px;
	border-top: 1px solid #efefef;
}

.comment-input {
	height: 18px;
	width: 515px;
	line-height: 18px;
	font-size: 14px;
	padding-left: 20px;
}

.comment-btn {
	color: #0095f6;
	font-size: 14px;
	font-weight: 600;
	line-height: 18px;
}

form {
	margin: 0;
	padding: 0;
	height: 40px;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
}

input:focus {
	outline: none;
}
