.profileBody {
  width: 55%;
  height: 90vh;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.image_box {
  display: block;
  box-sizing: border-box;
  background-position: center;
  background-size: cover;
  width: 30%;
  max-width: 293px;
  height: 30%;
  margin: 10px;
}

.image_box:hover {
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
}
