.formBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  height: calc(100vh - 175px);
  /* transform: translateY(175px); */
}



.formDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  background-color: white;
}

.logoDiv {
  height: 120px;
  width: 70%;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: 30px;
  animation-name: change-background-image;
  animation-duration: 3.1s;
  background-image: url("../../assets/images/cleanstagramBig.png");
}

.logoDiv:hover {
  /* background-image: url("../../assets/images/cleanstagramBig.png");
background-image: url("../../assets/images/cleanstagramBig.gif"); */
  animation-name: change-background-image-hover;
  animation-duration: 3s;
  background-image: url("../../assets/images/cleanstagramBig.png");
}

@keyframes change-background-image {
  0% {
    background-image: url("../../assets/images/cleanstagramBig.png");
  }
  1% {
    background-image: url("../../assets/images/cleanstagramBig.gif");
  }
  100% {
    background-image: url("../../assets/images/cleanstagramBig.png");
  }
}

@keyframes change-background-image-hover {
  0% {
    background-image: url("../../assets/images/cleanstagramBig.gif");
  }
}

.caption {
  width: 70%;
  margin: 20px 0;
}

.caption h1 {
  font-size: 1rem;
  text-align: center;
  font-weight: 900;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 350px;
  height: 542px;
  margin-bottom: 40px;
}

.inputDiv {
  margin: 5px 0;
  width: 70%;
}

.input {
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  border-radius: 3px;
}

.input::placeholder {
  padding-left: 10px;
}

.button {
  border-radius: 3px;
  background-color: rgba(178, 223, 252, 1);
  width: 70%;
  padding: 10px 20px;
  margin: 5px 0;
  color: white;
  font-weight: 900;
}

.button:hover {
  background-color: rgba(0, 149, 246, 0.8);
  cursor: pointer;
}
