.formDiv {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputDiv {
  margin: 10px 0;
  border: 1px solid red;
}

.input {
  height: 30px;
  border: 1px solid black;
}

.button {
  background-color: yellow;
  padding: 10px 20px;
}
