.splashpage_container_main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.splashpage_container_main_left {
    margin-right: 30px;
    height: 700px;
    width: 500px;
    min-width: 500px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;



}

.splashpage_container_main_right {
    margin-left: 30px;
    border: 1px solid black;


}

.splashpage_container_logo {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width:600px;
    height: 300px;
}