.profile_header {
  border: 1px solid black; /* for debugging use */
  width: 100vw;
  font-size: 1rem;
  padding: 0 100px;
  display: flex;
  justify-content: center;
}

.profile_header_display {
  width: 55vw;
  height: 150px;
  display: flex;
  margin: 44px 0;
}

.avatar_div {
  margin-right: 5%;
}

.profile_picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.username_and_buttons {
  display: flex;
}

.username_and_buttons button:hover {
  background-color: grey;
}

.username {
  margin-bottom: 30px;
  margin-right: 30px;
}

.username h1 {
  font-weight: 300;
}

.profile_stats {
  display: flex;
}

.following_stats {
  box-sizing: border-box;
  margin-right: 5%;
  width: 150px;
}

.following_stats h2,
.following_stats span {
  width: 100%;
  font-size: 1.3rem;
  font-weight: 100;
}

.following_stats h2 {
  font-weight: 300;
}
