.profile_header {
  width: 100vw;
  font-size: 1rem;
  padding: 0 100px;
  display: flex;
  justify-content: center;
}

.profile_header_display {
  width: 55vw;
  height: 150px;
  display: flex;
  margin: 44px 0;
  justify-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.avatar_div {
  margin-right: 10%;
}

.profile_picture {
  position: relative;
  bottom: 25px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.user_info {
  margin-bottom: 100px;
}

.username_and_buttons {
  display: flex;
  height: 60px;
}

.username {
  margin: auto 30px auto 0;
}

.username h1 {
  font-weight: 300;
}

.bio {
  /* FIXME */
  height: 30px;
  width: 30px;
}

.profile_stats {
  display: flex;
}

.following_stats {
  box-sizing: border-box;
  margin-right: 5%;
  width: 150px;
}

.following_stats h2,
.following_stats span {
  width: 100%;
  font-size: 1.3rem;
  font-weight: 100;
}

.following_stats h2 {
  font-weight: 300;
}
