.navbar {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 54px;
  border-bottom: 1px solid rgba(219, 219, 219, 1);
  font-size: 1rem;
}

.logged_in_buttons,
.logged_out_buttons {
  display: flex;
  margin-right: 2%;
}

.logged_in_buttons {
  width: 20vw;
}

.logged_in_buttons li {
  margin: 0 5%;
}

.logged_in_buttons li a,
.logged_in_buttons li button {
  font-size: 1rem;
}

.home_icon {
  font-size: 1.3rem;
}

.home_button {
  margin-left: 2%;
}
