.navbar {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 54px;
  border-bottom: 1px solid rgba(219, 219, 219, 1);
  font-size: 1rem;
  background-color: white;
}

.logged_in_buttons,
.logged_out_buttons {
  display: flex;
  margin-right: 2%;
}

.logged_in_buttons li {
  margin: 0 5%;
}

.logged_in_buttons li a,
.logged_in_buttons li button {
  font-size: 1rem;
}

.home_icon {
  font-size: 1.3rem;
}

.home_button {
  margin-left: 2%;
}

.user_menu {
  width: 250px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
  position: absolute;
  right: 3px;
  top: 54px;
}

.user_menu li,
.user_menu button {
  height: 30px;
  line-height: 30px;
}

input.search_bar {
  background-color: rgb(245, 245, 245, .3);
  border: 1px solid rgba(219, 219, 219, 1);
  padding: 4% 13%;
  border-radius: 8px;
}
