.following_stats {
  box-sizing: border-box;
  margin-right: 5%;
  width: 150px;
}

.following_stats:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
  cursor: pointer;
}

.following_stats h2,
.following_stats span {
  width: 100%;
  font-size: 1.3rem;
  font-weight: 100;
}

.following_stats h2 {
  font-weight: 300;
}
